<ion-view title="HealthyKart" align-title="center">

    <ion-content padding="'true'" class="has-header">
        
        <div class=" card" >
				<div class="item item-divider">We Have Analyzed your Score</div>
				<div class="item item-body">
					<a href="#/strength" class="button button-outline button-block icon-left ion-heart button-balanced">What are my Strengths?</a>
					<a href="#/weakness" class="button button-outline button-block icon-left ion-heart-broken button-assertive">What can i improve?</a>
				</div>
			</div>
    </ion-content>
</ion-view>