<ion-view title="Sort By">
    <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
        <i class="icon ion-ios-arrow-back"> Back</i> 
    </button>
</ion-nav-buttons>
    <ion-content padding="'true'" class="has-header">
        
		<form class="list" ng-submit="sort(sortby)">	
			
		 <ion-list>
			<ion-radio ng-model="sortby" ng-value="'n'" >Name</ion-radio>
			<ion-radio ng-model="sortby" ng-value="'plh'" >Price (Low-High)</ion-radio>
			<ion-radio ng-model="sortby" ng-value="'phl'" >Price (High-Low)</ion-radio>
		 </ion-list>
		 
		 <div class="list box">
			<button class="button button-block button-positive" type="submit">Apply</button>
		</div>  
			
        </form>
    </ion-content>
</ion-view>