<ion-view title="Weakness" align-title="center">
<ion-nav-buttons side="lest">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
       Back 
    </button>
</ion-nav-buttons>
	<ion-content padding="'true'" class="has-header">
	  <div class="list card" >
			<div class="item item-text-wrap item-icon-left ">
		    <i class="icon ion-star assertive"></i>
		    {{feedback2}}
		  </div>
		</div>

		<div class=" card" >
			<div class="item item-text-wrap item-icon-left">
				<i class="icon ion-flag assertive"></i>
				{{feedback3}}
			</div>
		</div>
		
		<a href="#/strength" class="button button-outline button-block icon-left ion-heart button-balanced">What are my Strengths?</a>

		<a href="#/learnhow" class="button button-outline ion-information-circled button-block icon-left button-energized">Learn How</a>

		<a href="#/analyze" class="button button-outline ion-refresh icon-left button-block button-royal">Analyze</a>
		
	</ion-content>
</ion-view>